torch
torchvision
safetensors
git+https://github.com/huggingface/diffusers.git
transformers
lycoris-lora
flatten_json
pyyaml
oyaml
tensorboard
kornia
invisible-watermark
einops
accelerate
toml
albumentations
albucore
pydantic
omegaconf
k-diffusion
open_clip_torch
timm
prodigyopt
controlnet_aux
python-dotenv
bitsandbytes
hf_transfer
lpips
pytorch_fid
optimum-quanto
sentencepiece
huggingface_hub
peft
gradio
python-slugify
